{% load static %}
<html lang="en-us">

<head>
    <title>Maclo | Dashboard</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="{% static 'adminpanel/css/style.css'%}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
</head>

<body>

<div class="Header">
    <div class="Logo">
        <img src="{% static 'adminpanel/images/Inner-Logo.png' %}">
    </div>
    <div class="Navigation">
        <div class="Avater">
            <a href="javascript:void(0);">
                <figure><img src="{% static 'adminpanel/images/profile.jpg' %}"></figure>
                {{user}} </a>
            <ul>
                <li>
                    <figure><img src="{% static 'adminpanel/images/profile.jpg' %}"></figure>
                    <h4> {{user}} <span>Administrator</span></h4>
                </li>
                <li><a href="{% url 'adminpanel:login' %}"><span><i class="fa fa-sign-out"></i></span> Logout</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="SidenavBar">
    <ul>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:dashboard' %}active{% endif %}">
            <a href="{% url 'adminpanel:dashboard' %}">
                <span><i class="fa fa-tachometer"></i></span> Dashboard
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:users-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:users-list' %}">
                <span><i class="fa fa-user"></i></span> User Management
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:subscription-plans-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:subscription-plans-list' %}">
                <span><i class="fa fa-money"></i></span> Subscription Management
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:purchased-subscription-plans-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:purchased-subscription-plans-list' %}">
                <span><i class="fa fa-money"></i></span> Subscription Purchase Management
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:meetup-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:meetup-list' %}">
                <span><i class="fa fa-product-hunt"></i></span> Meet up Management
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:send-notification' %}active{% endif %}">
            <a href="{% url 'adminpanel:send-notification' %}">
                <span><i class="fa fa-cubes"></i></span> Push Notifications
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:transactions-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:transactions-list' %}">
                <span><i class="fa fa-database"></i></span> Transactions Management
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:reports' %}active{% endif %}">
            <a href="{%url 'adminpanel:reports' %}">
                <span><i class="fa fa-shopping-cart"></i></span> Reports Management
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:static-content' %}active{% endif %}">
            <a href="{% url 'adminpanel:static-content' %}">
                <span><i class="fa fa-font"></i></span> Static content Management
            </a>
        </li>
        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:query-list' %}active{% endif %}">
            <a href="{% url 'adminpanel:query-list' %}">
                <span><i class="fa fa-question-circle"></i></span> User Queries
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:change_password' %}active{% endif %}">
            <a href="{% url 'adminpanel:change_password' %}">
                <span><i class="fa fa-cog"></i></span> Settings
            </a>
        </li>

        <li class="nav-item nav-link {% if request.resolver_match.view_name  == 'adminpanel:login' %}active{% endif %}">
            <a href="{% url 'adminpanel:login' %}">
                <span><i class="fa fa-sign-out"></i></span> Logout
            </a>
        </li>
    </ul>
</div>

{% block body %}
{% endblock body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'adminpanel/js/bootstrap.min.js' %}"></script>
<script src="{% static 'adminpanel/js/delete-script.js' %}"></script>


</body>
</html>