{% extends 'base.html' %}
{% block body %}
<div class="WrapperArea">
    <div class="WrapperBox">

        <div class="Small-Wrapper">
            <div class="SearchBox">
                <form action="">
                    <input type="text" placeholder="Enter Key" name="qs">
                    <button>Apply</button>
                </form>
            </div>

            <h4 class="Title">Meet up Management</h4>

            <div class="Filter">
                <div class="form-group">
                    <label>From Date</label>
                    <input type="date" class="form-control">
                </div>
                <div class="form-group">
                    <label>To Date</label>
                    <input type="date" class="form-control">
                </div>
                <div class="form-group">
                    <label>&nbsp;</label>
                    <button class="Button">Apply</button>
                </div>
            </div>
            {% if search %}
            <div class="TableList">
                <table>
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Date & time of the meeting</th>
                        <th>User id of first user</th>
                        <th>User id of second user</th>
                        <th>Name of the first user</th>
                        <th>Name of the second user</th>
                        <th>Venue</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in search %}
                    <tr>
                        <td>{{object.id}}</td>
                        <td>{{object.meeting_date}} <br>{{object.meeting_time}}</td>
                        <td>{{object.scheduled_with.id}}</td>
                        <td>{{object.scheduled_by.id}}</td>
                        <td>{{object.scheduled_with.first_name}}{{object.scheduled_with.last_name}}</td>
                        <td>{{object.scheduled_by.first_name}}{{object.scheduled_by.last_name}}</td>
                        <td>{{object.venue}}</td>
                        <td>{{object.description}}</td>
                        <td><span class="red">{{object.status}}</span></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="TableList">
                <table>
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Date & time of the meeting</th>
                        <th>User id of first user</th>
                        <th>User id of second user</th>
                        <th>Name of the first user</th>
                        <th>Name of the second user</th>
                        <th>Venue</th>
                        <th>Description</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{object.id}}</td>
                        <td>{{object.meeting_date}} <br>{{object.meeting_time}}</td>
                        <td>{{object.scheduled_with.id}}</td>
                        <td>{{object.scheduled_by.id}}</td>
                        <td>{{object.scheduled_with.first_name}}{{object.scheduled_with.last_name}}</td>
                        <td>{{object.scheduled_by.first_name}}{{object.scheduled_by.last_name}}</td>
                        <td>{{object.venue}}</td>
                        <td>{{object.description}}</td>
                        <td><span class="red">{{object.status}}</span></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}