<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Maclo | Notifications</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="Header">
        <div class="Logo">
            <img src="images/Inner-Logo.png">
        </div>
        <div class="Navigation">
            <div class="Avater">
                <a href="javascript:void(0);">
                    <figure><img src="images/profile.jpg"></figure> Bob Hyden </a>
                <ul>
                    <li>
                        <figure><img src="images/profile.jpg"></figure>
                        <h4> Bob Hyden <span>Administrator</span></h4>
                    </li> 
                    <li><a href="login.html"><span><i class="fa fa-sign-out"></i></span> Logout</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="SidenavBar">
        <ul>
            <li>
                <a href="dashboard.html">
                    <span><i class="fa fa-tachometer"></i></span> Dashboard
                </a>
            </li>
            
            <li>
                <a href="user-management.html">
                    <span><i class="fa fa-user"></i></span> User Management
                </a>
            </li>
            
            <li>
                <a href="Subscription-management.html">
                    <span><i class="fa fa-money"></i></span> Subscription Management
                </a>
            </li>
            
            <li>
                <a href="Subscription-Purchase-management.html">
                    <span><i class="fa fa-money"></i></span> Subscription Purchase Management 
                </a>
            </li>
            
            <li>
                <a href="meet-management.html">
                    <span><i class="fa fa-product-hunt"></i></span> Meet up Management
                </a>
            </li>
            
            <li class="active">
                <a href="notification.html">
                    <span><i class="fa fa-cubes" ></i></span> Push Notifications
                </a>
            </li>
            
            <li>
                <a href="Transaction-management.html">
                    <span><i class="fa fa-database"></i></span> Transactions Management 
                </a>
            </li>
            
            <li>
                <a href="Report-management.html">
                    <span><i class="fa fa-shopping-cart"></i></span> Reports Management 
                </a>
            </li>
            
            <li>
                <a href="content-management.html">
                    <span><i class="fa fa-font"></i></span> Static content Management 
                </a>
            </li> 
            
            <li>
                <a href="setting.html">
                    <span><i class="fa fa-cog"></i></span> Settings
                </a>    
            </li>
            
            <li>
                <a href="login.html">
                    <span><i class="fa fa-sign-out"></i></span> Logout
                </a>
            </li> 
        </ul>
    </div>
     
    <div class="WrapperArea">
        <div class="WrapperBox">
            <div class="Small-Wrapper">
                <h4 class="Title">Notification Management</h4>          
                
                <div class="NotificationArea">
                <div class="NotificationForm">
                    <h4>Send Notifications</h4>
                    
                    <form action="">
                        <div class="form-group">
                            <label for="">Title </label>
                            <input type="text" class="form-control" placeholder="Enter Title ">
                        </div>
                        <div class="form-group">
                            <label for="">Select Audience </label>
                            <ul class="Multiple">
                                <li><label><input type="checkbox" value="">Select All</label></li>
                                <li><label><input type="checkbox" value="">Mario Speedwagon</label></li>
                                <li><label><input type="checkbox" value="">Petey Cruiser </label></li>
                                <li><label><input type="checkbox" value="">Anna Sthesia </label></li>
                                <li><label><input type="checkbox" value="">Paul Molive </label></li>
                                <li><label><input type="checkbox" value="">Gail Forcewind </label></li>
                                <li><label><input type="checkbox" value="">Paige Turner </label></li>
                                <li><label><input type="checkbox" value="">Bob Frapples </label></li>
                                <li><label><input type="checkbox" value="">Buck Kinnear </label></li>
                                <li><label><input type="checkbox" value="">Sue Vaneer </label></li>
                                <li><label><input type="checkbox" value="">Wilma Mumduya </label></li>
                                <li><label><input type="checkbox" value="">Don Stairs </label></li>
                                <li><label><input type="checkbox" value="">Graham Cracker </label></li>
                                <li><label><input type="checkbox" value="">Holly Graham </label></li>
                                <li><label><input type="checkbox" value="">Pat Agonia </label></li>
                                <li><label><input type="checkbox" value="">Marvin Gardens </label></li>
                                <li><label><input type="checkbox" value="">Donatella Nobatti </label></li>
                                <li><label><input type="checkbox" value="">Polly Science </label></li>
                                <li><label><input type="checkbox" value="">Gabe Lackmen </label></li>
                                <li><label><input type="checkbox" value="">Mary Christmas </label></li>
                            </ul>
                        </div> 
                        <div class="form-group">
                            <label for="">Description </label>
                            <textarea rows="5" class="form-control" placeholder="Typing ...."></textarea>
                        </div>

                        <button>Send Notification</button>
                    </form>
                
                </div>
            
            </div>
                                      
            </div>
        </div>
    </div>

 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
     
</body>
</html>