<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Maclo | Reports Management </title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="Header">
        <div class="Logo">
            <img src="images/Inner-Logo.png">
        </div>
        <div class="Navigation">
            <div class="Avater">
                <a href="javascript:void(0);">
                    <figure><img src="images/profile.jpg"></figure> Bob Hyden </a>
                <ul>
                    <li>
                        <figure><img src="images/profile.jpg"></figure>
                        <h4> Bob Hyden <span>Administrator</span></h4>
                    </li> 
                    <li><a href="login.html"><span><i class="fa fa-sign-out"></i></span> Logout</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="SidenavBar">
        <ul>
            <li>
                <a href="dashboard.html">
                    <span><i class="fa fa-tachometer"></i></span> Dashboard
                </a>
            </li>
            
            <li>
                <a href="user-management.html">
                    <span><i class="fa fa-user"></i></span> User Management
                </a>
            </li>
            
            <li>
                <a href="Subscription-management.html">
                    <span><i class="fa fa-money"></i></span> Subscription Management
                </a>
            </li>
            
            <li>
                <a href="Subscription-Purchase-management.html">
                    <span><i class="fa fa-money"></i></span> Subscription Purchase Management 
                </a>
            </li>
            
            <li>
                <a href="meet-management.html">
                    <span><i class="fa fa-product-hunt"></i></span> Meet up Management
                </a>
            </li>
            
            <li>
                <a href="notification.html">
                    <span><i class="fa fa-cubes" ></i></span> Push Notifications
                </a>
            </li>
            
            <li>
                <a href="Transaction-management.html">
                    <span><i class="fa fa-database"></i></span> Transactions Management 
                </a>
            </li>
            
            <li class="active">
                <a href="Report-management.html">
                    <span><i class="fa fa-shopping-cart"></i></span> Reports Management 
                </a>
            </li>
            
            <li>
                <a href="content-management.html">
                    <span><i class="fa fa-font"></i></span> Static content Management 
                </a>
            </li> 
            
            <li>
                <a href="setting.html">
                    <span><i class="fa fa-cog"></i></span> Settings
                </a>    
            </li>
            
            <li>
                <a href="login.html">
                    <span><i class="fa fa-sign-out"></i></span> Logout
                </a>
            </li> 
        </ul>
    </div>
     
    <div class="WrapperArea">
        <div class="WrapperBox">
            <div class="Small-Wrapper">
                <h4 class="Title">Report Management</h4>          
                
                <div class="Filter"> 
                     
                    <div class="form-group">
                        <label>From Date</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>To Date</label>
                        <input type="date" class="form-control">
                    </div>  
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button class="Button">Apply</button>
                    </div> 
                </div>
                <div class="fltR"> 
                    <a href="javascript:void(0);" class="Export">
                        <i class="fa fa-file-pdf-o"></i>
                        Export
                    </a>
                    <div class="clear"> </div>
                </div>

                <div class="ReportArea"> 
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
                
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, { 
            type: 'doughnut', 
            data: {
                labels: ['Users', 'Subscription Purchase', 'Transactions'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: ["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205, 86)","rgb(16, 156, 198)","rgb(16, 198, 129)","rgb(198, 39, 16)","rgb(198, 16, 142)","rgb(64, 151, 18)"],
                    borderColor: ["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205, 86)"],
                    data: [2500, 1150, 1500,]
                }]
            }, 
            options: {}
        }); 
    </script>
     
</body>
</html>