{% extends 'base.html' %}
{% block body %}
<div class="WrapperArea">
    <div class="WrapperBox">
        <div class="Small-Wrapper">
            <h4 class="Title">User Details</h4>

            <div class="DetailsArea">
                {% if object.pic_1 %}
                <div class="DetailsProfile">
                    <figure><img src="{{object.pic_1.url}}"></figure>
                </div>
                {% else %}
                <div class="DetailsProfile">
                    <figure><img src="'adminpanel/images/profile.jpeg'"></figure>
                </div>
                {% endif %}
                <ul>
                    <li>
                        <span>User id</span>{{object.id}}
                    </li>

                    <li>
                        <span>Name of the user</span>{{object.first_name}} {{object.last_name}}
                    </li>

                    <li>
                        <span>Phone Number</span>{{object.phone_number}}
                    </li>

                    <li>
                        <span>Email id </span>{{object.email}}
                    </li>

                    <li>
                        <span>Date of Birth</span>{{object.date_of_birth}}
                    </li>

                    <li>
                        <span>Verified</span>{{object.verified}}
                    </li>

                    <li>
                        <span>Sexual Orientation</span>{{object.gender}}
                    </li>
                    {% if object.pic_1 %}
                    <li>

                        <span>favourite pictures</span>{{object.pic_1.url}}
                    </li>
                    {% else %}
                    <li>

                        <span>favourite pictures</span>N/A
                    </li>
                    {% endif %}
                    <li>
                        <span>Living in</span>{{detail.living_in}}
                    </li>

                    <li>
                        <span>Hometown</span>{{detail.hometown}}
                    </li>

                    <li>
                        <span>Work / Job title</span>{{object.job_profile}}
                    </li>

                    <li>
                        <span>Qualification </span>{{object.qualification}}
                    </li>

                    <li>
                        <span>College name </span>{{detail.college_name}}
                    </li>

                    <li>
                        <span>University name</span>{{detail.university}}
                    </li>

                    <li>
                        <span>Relationship status</span>{{object.relationship_status}}
                    </li>

                    <li>
                        <span>Interest</span>{{object.interests}}
                    </li>

                    <li>
                        <span>Personality</span>{{object.personality}}
                    </li>

                    <li>
                        <span>Body Type</span>{{object.body_type}}
                    </li>

                    <li>
                        <span>Religion</span>{{object.religion}}
                    </li>

                    <li>
                        <span>favourite quote </span>{{object.fav_quote}}
                    </li>

                    <li>
                        <span>Favourite Music & Movie </span>{{detail.fav_music}}
                    </li>

                    <li>
                        <span>Bio</span>{{detail.bio}}
                    </li>

                    <li>
                        <span>Places Travelled </span>{{detail.travelled_place}}
                    </li>

                    <li>
                        <div class="Flex">
                            <span>Things I want to do at least once in my lifetime</span>{{detail.once_in_life}}
                        </div>
                    </li>

                    <li>
                        <span>I Exercise</span>{{detail.exercise}}
                    </li>

                    <li>
                        <span>I am looking for</span>{{detail.looking_for}}
                    </li>

                    <li>
                        <span>Favourite Food</span>{{detail.fav_food}}
                    </li>

                    <li>
                        <span>Favourite pets</span>{{detail.fav_pet}}
                    </li>

                    <li>
                        <span>I drank</span>{{detail.drink}}
                    </li>

                    <li>
                        <span>I Smoke</span>{{detail.smoke}}
                    </li>

                    <li>
                        <span>I am</span>{{object.gender}}
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock body %}
