 <!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Maclo | User Management</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="Header">
        <div class="Logo">
            <img src="images/Inner-Logo.png">
        </div>
        <div class="Navigation">
            <div class="Avater">
                <a href="javascript:void(0);">
                    <figure><img src="images/profile.jpg"></figure> Bob Hyden </a>
                <ul>
                    <li>
                        <figure><img src="images/profile.jpg"></figure>
                        <h4> Bob Hyden <span>Administrator</span></h4>
                    </li> 
                    <li><a href="login.html"><span><i class="fa fa-sign-out"></i></span> Logout</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="SidenavBar">
        <ul>
            <li>
                <a href="dashboard.html">
                    <span><i class="fa fa-tachometer"></i></span> Dashboard
                </a>
            </li>
            
            <li class="active">
                <a href="user-management.html">
                    <span><i class="fa fa-user"></i></span> User Management
                </a>
            </li>
            
            <li>
                <a href="Subscription-management.html">
                    <span><i class="fa fa-money"></i></span> Subscription Management
                </a>
            </li>
            
            <li>
                <a href="Subscription-Purchase-management.html">
                    <span><i class="fa fa-money"></i></span> Subscription Purchase Management 
                </a>
            </li>
            
            <li>
                <a href="meet-management.html">
                    <span><i class="fa fa-product-hunt"></i></span> Meet up Management
                </a>
            </li>
            
            <li>
                <a href="notification.html">
                    <span><i class="fa fa-cubes" ></i></span> Push Notifications
                </a>
            </li>
            
            <li>
                <a href="Transaction-management.html">
                    <span><i class="fa fa-database"></i></span> Transactions Management 
                </a>
            </li>
            
            <li>
                <a href="Report-management.html">
                    <span><i class="fa fa-shopping-cart"></i></span> Reports Management 
                </a>
            </li>
            
            <li>
                <a href="content-management.html">
                    <span><i class="fa fa-font"></i></span> Static content Management 
                </a>
            </li> 
            
            <li>
                <a href="setting.html">
                    <span><i class="fa fa-cog"></i></span> Settings
                </a>    
            </li>
            
            <li>
                <a href="login.html">
                    <span><i class="fa fa-sign-out"></i></span> Logout
                </a>
            </li> 
        </ul>
    </div>
     
    <div class="WrapperArea">
        <div class="WrapperBox">
            <div class="Small-Wrapper">
                <h4 class="Title">User Details</h4>
                                          
                <div class="DetailsArea"> 
                    <div class="DetailsProfile">
                        <figure><img src="images/profile.jpg"></figure>
                    </div>
                    <ul>
                        <li>
                            <span>User id</span>
                        </li>

                        <li>
                            <span>Name of the user</span>
                        </li> 

                        <li>
                            <span>Phone Number</span>
                        </li> 

                        <li>
                            <span>Email id </span>
                        </li> 

                        <li>
                            <span>Date of Birth</span>
                        </li> 

                        <li>
                            <span>Status</span>
                        </li> 

                        <li> 
                            <span>Sexual Orientation</span>
                        </li> 

                        <li>
                            <span>favourite pictures</span>
                        </li> 

                        <li>
                            <span>Living in</span>
                        </li> 

                        <li>
                            <span>Hometown</span>
                        </li> 

                        <li>
                            <span>Work / Job title</span>
                        </li> 

                        <li>
                            <span>Qualification </span>
                        </li> 

                        <li>
                            <span>College name </span>
                        </li> 

                        <li>
                            <span>University name</span>
                        </li>

                        <li>
                            <span>Relationship status</span>
                        </li>

                        <li>
                            <span>Interest</span>
                        </li>

                        <li>
                            <span>Personality</span>
                        </li>

                        <li>
                            <span>Body Type</span>
                        </li>

                        <li>
                            <span>Religion</span>
                        </li>

                        <li>
                            <span>favourite quote </span>
                        </li>

                        <li>
                            <span>Favourite Music & Movie </span>
                        </li>

                        <li>
                            <span>Bio</span>
                        </li>

                        <li>
                            <span>Places Travelled </span>
                        </li>

                        <li>
                            <div class="Flex">
                                <span>Things I want to do at least once in my lifetime</span> 
                            </div>
                        </li>

                        <li>
                            <span>I Exercise</span>
                        </li>

                        <li>
                            <span>I am looking for</span>
                        </li>

                        <li>
                            <span>Favourite Food</span>
                        </li>

                        <li>
                            <span>Favourite pets</span>
                        </li>

                        <li>
                            <span>I drank</span>
                        </li>

                        <li>
                            <span>I Smoke</span>
                        </li>

                        <li>
                            <span>I am</span>
                        </li>                    
                    </ul>
                </div>               
                                 
            </div>
        </div>
    </div>

 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
     
</body>
</html>